<a href="https://colab.research.google.com/github/JoeSotomayor/BAU_Projects/blob/main/Assignment_3_Joe_Sotomayor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import requests
import pandas as pd
from pprint import pprint
url = 'https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?begin_date=20200101&end_date=20201231&station=8518750&product=hourly_height&datum=MLLW&time_zone=lst&units=metric&application=DataAPI_Sample&format=json'

res = requests.get(url)

data = res.json()

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

df = pd.json_normalize(data, record_path =['data'])

print(df)

                     t      v      s    f
0     2020-01-01 00:00  1.405  0.044  0,0
1     2020-01-01 01:00  1.473  0.045  0,0
2     2020-01-01 02:00  1.246  0.032  0,0
3     2020-01-01 03:00  0.940  0.015  0,0
4     2020-01-01 04:00  0.630  0.021  0,0
...                ...    ...    ...  ...
8779  2020-12-31 19:00  0.842  0.032  0,0
8780  2020-12-31 20:00  1.009  0.043  0,0
8781  2020-12-31 21:00  1.113  0.023  0,0
8782  2020-12-31 22:00  1.144  0.046  0,0
8783  2020-12-31 23:00  0.994  0.040  0,0

[8784 rows x 4 columns]

In [39]:
df.iloc[0:238]

                    t      v      s    f
0    2020-01-01 00:00  1.405  0.044  0,0
1    2020-01-01 01:00  1.473  0.045  0,0
2    2020-01-01 02:00  1.246  0.032  0,0
3    2020-01-01 03:00  0.940  0.015  0,0
4    2020-01-01 04:00  0.630  0.021  0,0
..                ...    ...    ...  ...
233  2020-01-10 17:00  0.668  0.064  0,0
234  2020-01-10 18:00  1.068  0.055  0,0
235  2020-01-10 19:00  1.313  0.042  0,0
236  2020-01-10 20:00  1.383  0.032  0,0
237  2020-01-10 21:00  1.252  0.038  0,0

[238 rows x 4 columns]

In [40]:
df.iloc[0:23]

                   t      v      s    f
0   2020-01-01 00:00  1.405  0.044  0,0
1   2020-01-01 01:00  1.473  0.045  0,0
2   2020-01-01 02:00  1.246  0.032  0,0
3   2020-01-01 03:00  0.940  0.015  0,0
4   2020-01-01 04:00  0.630  0.021  0,0
..               ...    ...    ...  ...
18  2020-01-01 18:00  0.224  0.019  0,0
19  2020-01-01 19:00  0.215  0.024  0,0
20  2020-01-01 20:00  0.277  0.023  0,0
21  2020-01-01 21:00  0.486  0.038  0,0
22  2020-01-01 22:00  0.707  0.012  0,0

[23 rows x 4 columns]